{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="card bg-light-subtle">
        <h1 class="card-header text-center">Actualités de l'association</h1>
        <div class="card-body">
            <div class=" d-flex align-content-around flex-wrap justify-content-between align-self-center">
                {% for actualite in actualites %}
                <div class="card my-3" style="width: 25rem;">
                    <img src="{{ actualite.imageFichier }}" class="card-img-top" alt="{{ actualite.titre }}">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"></h5>
                        <p class="card-text">{{ actualite.extrait }}</p>
                        <div class="d-flex justify-content-center mt-auto">
                            <a href="{{ actualite.lien }}" class="btn btn-dark">Lire la suite</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}